.navbar {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logooo{
  display: flex;
  /* width: 5px; */
}

.logoo{
  /* width: 4px; */
  text-decoration: none;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  /* z-index: 10; */
  /* background-color: ; */
  text-decoration: none;
}

.imglogo { 
  border-top-left-radius: 50% 50%;
   border-top-right-radius: 50% 50%; 
   border-bottom-right-radius: 50% 50%; 
   border-bottom-left-radius: 50% 50%; 
   width:75px;
}

/* .imglog{
  width:2rem;
} */

.nav-links {
  display: flex;
}

.nav-link {
  margin-left: 20px;
  color: #333;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  color: magenta;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu-icon:hover {
  cursor: pointer;
}

.nav-links {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.scroll-top {
  color: white;
  height: 30px;
  width: 30px;
  background-color: rgb(240, 79, 79);
  position: fixed;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
  transform: scale(0.9);
  transition: .3s ease-in-out tranform;
  text-align: center;
  z-index: 5;
}

.scroll-top:hover {
  transform: scale(1);
}

@media screen and (max-width : 920px) {

  .navbar {
    margin-top: 10;
  }

  .image-containerr {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .logo {
    display: flex;
    position: relative;
  }

  .nav-links {
    display: none;
  }

  .nav-link {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    transition: all 0.5s ease;
    margin-left: 0;
  }

  .nav-link:last-child{
    margin-bottom: 10px;
  }
  .nav-links-mobile {
    /* margin-top: 10px; */
    position: absolute;
    display: block;
    list-style: none;
    background-color: #005469;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
    z-index: +2;
  }

  .mobile-menu-icon {
    background-color: none;
    margin-top: 5px;
    display: block;
    position: absolute;
    font-size: 30px;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }
}