footer {
    clear: both;
    background-color: black;
    padding: 10px;
    text-align: center;
}

footer p {
    color: #ffff;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
}

footer p {
    color: #ffff;
}