.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Add vertical spacing between menu items */
}

.restaurant {
  margin-bottom: 20px;
}

.restaurant h2 {
  text-transform: uppercase;
  font-size: 24px; /* Slightly increase the font size */
  margin-bottom: 10px;
  color: #333;
}

.category {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px; /* Increase padding for better spacing */
  margin-bottom: 20px;
}

.category h3 {
  text-transform: uppercase;
  font-size: 18px; /* Slightly increase the font size */
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px; /* Increase padding for better spacing */
  color: #555;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center align items within the container */
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px; /* Increase padding for better spacing */
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.item-box:hover {
  background-color: #f7f7f7;
}

.item-image {
  width: 150px; /* Increase the size of the item image */
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.item-details {
  text-align: center;
  text-transform: uppercase;
  color: #777;
  margin-top: auto;
  margin-bottom: 10px; /* Increase the margin for better spacing */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Add vertical spacing between form inputs */
}

form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center align label text */
  text-transform: uppercase;
  font-weight: bold; /* Make labels uppercase and bold */
}

form input[type="text"],
form input[type="file"] {
  padding: 8px; /* Adjust the padding of the input fields for better spacing */
  width: 220px; /* Adjust the width of the input fields as needed */
}

.custom-file-label {
  padding: 8px;
  background-color: #ccc;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  align-self: center; /* Align the custom file label to the center */
}

.custom-file-label:hover {
  background-color: #aaa;
}

button {
  padding: 10px 20px; /* Increase button padding for better visual appeal */
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

form button[type="submit"]:hover {
  background-color: #555;
}

@media screen and (max-width: 767px) {
  .items-container {
      flex-direction: column;
  }

  .category-options {
      flex-basis: 100%;
      margin-bottom: 20px; /* Increase margin for better spacing on small screens */
  }
}
